/* FOND*/
body{ font-family: "century gothic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ,serif ;

    
    background-image: url( PHOTOS/Img1.jpg );
    background-repeat : no-repeat;
    background-size: auto;
    background-attachment: fixed , scroll; 
    scroll-behavior: auto;
    box-sizing :border-box;
    
}


/* MENUE */

.Navigation{
    background-color: #333;
    
    
}

.menu{
    display: flex;
    list-style: none;
    padding: 20;
    margin: 0 auto;
    position:relative;
    text-align: center;
}


.menu a{
    color: #fff;
    text-decoration: none;
    padding: 50px;
    text-align: center;
}


.menu li{
    text-decoration: none;
    text-decoration-line: none;
    padding: 0px;
}


/* TEXTE */
.bienvenu {
    color: darkgoldenrod;
    text-align: center;
    font-size: 70px;
    margin: 20px;
}

.service {
    
    color: darkgoldenrod;
    
}
.service a{
    text-decoration-line: none;
    color: white;
}

/*COOPYIGHT*/ 
footer { 
    font-family:oblique;
    color: white;
    text-align: center;
    float: absolute;
    top: 80%;
    left: 40%;
    
}

/* RESPONSIVE */

@media screen and (min-width:479px) and (max-width:800px){
    .Navigation{
        width: 300%;
        border-radius: 50px;
    }
    .service{
        font-size:2em;
    }
    
}
