*{
    margin: 0;
    padding: 0;
}
.galerie{
    position: absolute;
    column-count: 5;
    gap: 10px;
}
.galeries{
    margin: 0;
    margin-bottom: 10px;
}
.galeries img{
    width: 250px;
}


/*COOPYIGHT*/ 
footer{
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        box-sizing: border-box;
    }
    
    .p{
        min-height: 100%;
        margin-bottom: -50px;
    }
    
    .p:after {
        content: "";
        display: block;
        height: 50px;
    }
    
    footer,
    .p:after {
        height: 50px;
    }
    
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        line-height: 50px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}